body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: stretch;
    justify-content: flex-start;
}
@font-face {
    font-family: a;
    src: url(./font/Roboto-Medium.ttf);
    
  }
a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-family: a;
    color: rgba(0,0,0,.9);
    font-weight: 600;
}
nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 16px 8px 16px;
    background-color: #F8F9FA;
    position: fixed;
    width: 100%;
}
nav img{
    height: 75px;
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}
nav ul li{
    padding: 8px;
}

.banner{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5.7%;
    background-color: #F7941D;
}
.banner img{
    width: 100%;
    /* height: 90vh; */
}
.banner  .right{
    position: absolute;
    right: 100px;
}   

.banner  .left{
    position: absolute;
    left: 100px;
}   

.banner span ion-icon{
    font-size: 40px;
    opacity: .5;
    color: aliceblue;
}
.banner span ion-icon:hover{
    opacity: 1;
}

.footer{
   color: #F8F9FA;
    background-color: #F7941D;
}
.footer .content{
    background-color: #192041;
    margin-top: 0.8%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-start;
    justify-content: space-evenly;
}

.footer .address{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 0.3;
}
.footer .address h4{
    font-size: 1.5rem;
}
.footer .address p{
    font-size: 0.85rem;
}
.footer .address a{
    text-decoration: underline;
    color: #F7941D;
    text-transform:capitalize;
    font-weight: 300;
}
.footer .address .tong{
    display: flex;
    line-height: 1;
}